.ipynb_checkpoints
__pycache__/

data/
logs/
model/

Untitled*

# sample audio
audio_sample/

# reference
MultiSpeech: Multi-Speaker Text to Speech with Transformer.pdf
Neural Speech Synthesis with Transformer Network.pdf
